
.title-section {

    padding: 25px;
    background-color: rgb(48, 45, 45);
    height: auto;
}

.title {

    font-family: monospace;
    font-size: 45px;
    font-weight: bold;
    color: aliceblue;
}

.App-header {

    padding: 25px;
    height: auto;
}